// Navigation Styles here



.header{ 
    display: flex;
    justify-content: space-between;

    @media @mobile {
        flex-direction: column;
        align-items: center;
        flex-basis: 0;
      } 
    

.navigationbar{
    display: flex;
    justify-content:space-around;
    flex-basis:25em;
    padding-top: 9px;

    @media @mobile {
        display: flex;
          justify-content: space-around;
        flex-basis: 0;
        width:100%;
      } 

    
   a{
    text-decoration: none;
    color:#263440;
   }
}

}